<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <body>

    {% include header.html %}

    <div>
      <img src="{{site.baseurl}}/{{ page.banner }}" width="100%">
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    <script src="{{ "assets/locale-selector.js" | relative_url }}" charset="utf-8"></script>
  </body>

</html>
